<style>
    h1 {
        text-align: center;
        font-size: 48px;
    }

    p {
        text-align: center;
        font-size: 24px;
        margin: 10px 0;
    }

    .emphasis {
        font-weight: bold;
        font-style: italic;
    }

    .space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .label {
        font-size: 20px;
        font-weight: bold;
    }

    .data {
        font-size: 24px;
        margin-left: 10px;
    }

    a {
        display: block;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .enlarge {
        font-size: 72px;
    }
</style>
<h1 class="enlarge">{{ symbol }}</h1>
<p class="emphasis">{{ name }}</p>
<div class="space">
    <p>Price:</p>
    <div class="data">
        <p class="enlarge">{{ price }}</p>
    </div>
</div>
<div class="space">
    <p>Change:</p>
    <div class="data">
        <p>{{ change }} ({{ change_pct }})</p>
    </div>
</div>
<div class="space">
    <p>Day Low:</p>
    <div class="data">
        <p>{{ dayLow }}</p>
    </div>
</div>
<div class="space">
    <p>Day High:</p>
    <div class="data">
        <p>{{ dayHigh }}</p>
    </div>
</div>
<div class="space">
    <p>Year Low:</p>
    <div class="data">
        <p>{{ yearLow }}</p>
    </div>
</div>
<div class="space">
    <p>Year High:</p>
    <div class="data">
        <p>{{ yearHigh }}</p>
    </div>
</div>
<div class="space">
    <p>Market Cap:</p>
    <div class="data">
        <p>{{ marketCap }}</p>
    </div>
</div>
<div class="space">
    <p>Exchange:</p>
    <div class="data">
        <p>{{ exchange }}</p>
    </div>
</div>
<a href="http://127.0.0.1:8000/financials/stock_chart/{{ symbol }}">Chart</a>