<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-size: 72px;
        flex-basis: 100%;
    }

    p {
        text-align: center;
        font-size: 36px;
        margin: 10px 0;
    }

    .emphasis {
        font-weight: bold;
        font-style: italic;
    }

    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .detail-left {
        text-align: left;
    }

    .detail-right {
        text-align: right;
    }

    .enlarge {
        font-size: 48px;
    }

    .left-column {
        flex: 1;
        text-align: center;
        margin-right: 20px;
    }

    .right-column {
        flex: 1;
        text-align: center;
        margin-left: 20px;
    }

    .center-column {
        flex-basis: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .center-column p {
        margin: 10px;
    }
</style>

<div class="container">
    <div class="left-column">
        <h1 class="enlarge">{{ symbol }}</h1>
        <p class="emphasis">{{ name }}</p>
        <p class="enlarge">{{ price }}</p>
        <p>Price:</p>
    </div>
    <div class="right-column">
        <div class="details">
            <p class="detail-left">Day Low:</p>
            <p class="detail-right">{{ dayLow }}</p>
        </div>
        <div class="details">
            <p class="detail-left">Day High:</p>
            <p class="detail-right">{{ dayHigh }}</p>
        </div>
        <div class="details">
            <p class="detail-left">Year Low:</p>
            <p class="detail-right">{{ yearLow }}</p>
        </div>
        <div class="details">
            <p class="detail-left">Year High:</p>
            <p class="detail-right">{{ yearHigh }}</p>
        </div>
    </div>
    <div class="center-column">
        <p class="enlarge">{{ price }}</p>
        <p>Change:</p>
        <p class="emphasis">{{ change }}</p>
        <p>({{ change_pct }})</p>
        <p>Market Cap: {{ marketCap }}</p>
        <p>Exchange: {{ exchange }}</p>
        <a href="http://127.0.0.1:8000/financials/stock_chart/{{ symbol }}">Chart</a>
    </div>
</div>