<style>
    h1 {
        text-align: center;
        font-size: 48px;
    }

    p {
        text-align: center;
        font-size: 24px;
        margin: 10px 0;
    }

    .emphasis {
        font-weight: bold;
        font-style: italic;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        max-width: 600px;
    }

    .left-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
    }

    .right-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }

    .data {
        margin-left: 10px;
        font-size: 24px;
    }

    a {
        display: block;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .enlarge {
        font-size: 72px;
    }
</style>

<h1 class="enlarge">{{ symbol }}</h1>
<p class="emphasis">{{ name }}</p>

<div class="container">
    <div class="left-container">
        <div class="data">
            <b>Price:</b>
            <p>Change:</p>
            <p>Day Low:</p>
            <p>Day High:</p>
        </div>
        <div class="data">
            <b>{{ price }}</b>
            <p>{{ change }} ({{ change_pct"%" }})</p>
            <p>{{ dayLow }}</p>
            <p>{{ dayHigh }}</p>
        </div>
    </div>

    <div class="right-container">
        <div class="data">
            <p>Year Low:</p>
            <p>Year High:</p>
            <p>Market Cap:</p>
            <p>Exchange:</p>
        </div>
        <div class="data">
            <p>{{ yearLow }}</p>
            <p>{{ yearHigh }}</p>
            <p>{{ marketCap }}</p>
            <p>{{ exchange }}</p>
        </div>
    </div>
</div>

<a href="http://127.0.0.1:8000/financials/stock_chart/{{ symbol }}">Chart</a>