{% extends 'base.html' %}

{% block  content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>User ID</th>
            <th>Email</th>
            <th>Account Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in accounts %}
        <tr>
            <td>
                <a href="{% url 'accounts:detail' user.id %}">{{ user.username }}</a>
            </td>
            <td>{{ user.user_id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.account }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}