{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
    <!DOCTYPE html>
    <html>

    <head>
        <title>Financial Web Application - Home </title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }

            a {
                color: blue;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .link-box {
                display: inline-block;
                margin-right: 20px;
                padding: 10px;
                border: 1px solid black;
                border-radius: 5px;
            }
        </style>
    </head>

    <body>
        <h1>Welcome to Our Homepage</h1>
        <p>Other Pages:</p>

        <div class="link-box">
            <a href="{% url 'movies:index' %}">Movies</a>
        </div>

        <div class="link-box">
            <a href="{% url 'accounts:index' %}">Accounts</a>
        </div>

        <div class="link-box">
            <a href="{% url 'financials_index' %}">Financials</a>
        </div>

        
        {%  if user.is_authenticated %}
            <p>You are logged in as {{ request.user }}. Click here to <a href="{% url 'logout' %}">log out</a></p>
        {% endif %}
    </body>

    </html>
</div>
{% endblock %}